<!-- <div>
  <div id="map" style='height: 400px;'></div>
</div>


<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%= raw pet_pet_photos_path(@pet_photos).to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script> -->

<div>
  <% @pet_photos.each do |p| %>
  <div>
  <%= image_tag p.images.url(:medium) %> <br>
  <%= p.caption %> <br>
  <%= p.date %>
  </div>
  <% end %>
</div>
