<style>
header {

}
</style>

<header>
<div class="container-fluid">
  <div class="row">
    <div id="multi_markers" style='height: 600px;'></div>
      <script type="text/javascript">
        var handler = Gmaps.build('Google');
        handler.buildMap({ internal: {id: 'multi_markers'}}, function(){
        var markers = handler.addMarkers([
          <% @pet_photos.each do |p| %>
            { lat: <%= p.latitude %>, lng: <%= p.longitude %>, infowindow: "<%= p.caption %>" },
          <% end %>
        ]);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        });
      </script>
  </div>
  <div class="row">
    <div>
      <% @pet_photo.each do |p| %>

      <% end %>
    </div>

  </div>
</div>
</header>
