
<div id="navbar-styling">
  <div class="container">
    <nav class="navbar navbar-light">
      <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>
      <div class="collapse navbar-toggleable-md" id="navbarResponsive">
        <a class="navbar-brand" href="#">PUPPY PAD</a>
        <ul class="nav navbar-nav float-xs-right">
          <li class="nav-item">
            <%= link_to "Sign Up", new_user_path, class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Login", "", id: "login", data: {toggle:"modal", target: "#myModal"}, class:"nav-link" %>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
