.navbar .navbar-brand {
  letter-spacing: 1px;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  color: #fcbd20;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover, .navbar-light .navbar-toggler:focus, .navbar-light .navbar-toggler:hover {
  letter-spacing: 1px;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
}
.navbar-light .navbar-nav .nav-link {
color: #5283fd;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
color: #fcbd20;

}

.navbar .navbar-nav > li > a {
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;

}


// HOMEPAGE STYLING

#homepage-styling {
  .header-content {
    text-align: center;
    margin: 0px;
  }

  h2#puppy_pad {
    margin: 0px;
    color: #000000;
  }

  h5 {
    margin-bottom: 2px;
  }
  p {
    font-size: 10px;
    // color: #628ffc;
  }

  img.img-fluid {
    max-width: 80%;
    height: auto;
    padding: 0px;

  }

  h4 {

    margin: 0px;
  }

  p#demo {
    font-size: 15px;
    color: #628ffc;
    padding: 0px;
    margin: 0px;
  }
}
