#photo-gallery-styling {

  #photos img {
    float: left;
    display: block;
    margin: 2px;
    border-radius: 0px;
    width:200px;
    height:200px;
    object-fit: cover;
    overflow: hidden;
  }

  ul {
    list-style: none;
    margin: 0px auto;
    padding: 10px;
    display: block;
    max-width: 780px;
    text-align: center;

  }

}
